*{
	margin: 0;
	padding: 0;
}

p{
	white-space: pre-line;
}

.sec_first{
	background-image: url('../img/headerImg.png');
}

.overlay{
	background-color: rgba(65, 71, 71, 0.9);
}

.span_color{
	color: #f7600e;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler{
	border: none;
}

.list_items{
    margin: 0 auto;
    text-align: center;
}

.header_txt h1{
	margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 65px;
}

.header_txt p{
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.first_btn{
	background-color: transparent;
}

.first_btn:hover{
	background-color: #f7600e;
	border-color: #f7600e;
}

.second_btn{
	background-color: transparent;
	padding: .375rem 2.3rem;
}

.second_btn:hover{
	background-color: #f7600e;
	border-color: #f7600e;
}

.down_arrow{
	margin-top: 100px;
}

.down_arrow img{
	cursor: pointer;
}

.sec_second{
	background-color: #ffffff;
	margin: 100px 0;
}

.sec_second h5{
	font-family: 'Open Sans', sans-serif;
	color: #3b434c;
}

.sec_second p{
	font-family: 'Open Sans', sans-serif;
	color: #afb2b4;
}

.sec_second_imgs:hover{
	transform: scale(1.05)
}

.sec_third{
	background-image: url('../img/secThirdImg.png');
}

.sub_btn{
	background-color: #f7600e;
	color: #ffffff;
}

.sec_fourth h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #3b434c;
	margin-top: 100px;
}

.sec_fourth p{
	color: #7e8286;
}

.our_work_imgs{
	margin: 80px auto;
}

.owi_img{
  position: relative;
}

.owi_img_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;
  background-color: rgba(245, 108, 34, 0.8);
}

.owi_img:hover .owi_img_overlay{
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 15px;
}

.text{
  position: absolute;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.SP_btn{
	color: black;
}

.SP_btn:hover{
	background-color: white;
	border-color: white;
	color: #fbb199;
}


.sec_five{
	background-image: url('../img/man-face-bg.png');
}

.sec_five p{
	font-family: 'Open Sans', sans-serif;
}

.sec_five h5{
	font-family: 'Open Sans', sans-serif;
}

.sec_six h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #3b434c;
	margin-top: 100px;
}

.sec_six p{
	font-family: 'Open Sans', sans-serif;
	color: #3b434c;
}

.member_caption{
	font-family: 'Open Sans', sans-serif;
	color: #7e8286;
}

.OurTeam_img{
	filter: grayscale(100%);

}

.OurTeam_img:hover{
	filter: none;
	transition: .5s ease;	
}
.border_bottom:hover{
	transform: scaleY(1.1);
	transition: .5s ease;
	border-bottom: 5px solid #f7600e;
	border-radius: 5px;
	margin-top: -15px;
}
.sec_seven{
	background-image: url('../img/footerImg.png');
}

.sec_eight{
	background-color: #3b434c;
}

.footer{
	padding-top: 100px;
	padding-bottom: 120px;
}

/* Media Queries */

@media screen and (max-width: 992px){
	.social_icon{
		text-align: center;
    	max-width: 100%;
    	flex: 0 0 100%;
    	margin-top: 15px;
	}
	.unorder_list{
		float: none !important;
	}
	.hireUs_btn{
		text-align: center;
    	max-width: 100%;
    	flex: 0 0 100%;
	}
	.first_btn{
		float: none !important;
	}
}

@media screen and (max-width: 768px){
	.subscribe_btn{
		    width: 50%;
    margin: 15px auto;
	}
	.footer_email{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 576px){
	.header_img{
		width: 100%;
		text-align: center;
	}

	.menu_btn{
		margin: 15px auto;
	}

	.first_btn{
		width: 50%;
		margin-right: 0 !important;
		margin-bottom: 15px;
	}

	.second_btn{
		width: 50%;
		margin-left: 0 !important;
	}
.border_bottom:hover{
	transform: scaleY(1.01);
}
}

